<h1>Vacancy <%= @vacancy.id %></h1>

<p><%= @vacancy.pocFirstName %> <%= @vacancy.pocLastName %></p>
<p><%= @vacancy.pocEmail %></p>
<p><%= @vacancy.pocEmail %></p>
<p><%= @vacancy.title %></p>
<p><%= @vacancy.categories %></p>
<p><%= @vacancy.description %></p>
<p><%= @vacancy.script %></p>
<p><%= @vacancy.budget %></p>
